.page-class {
    margin-left: 200px;
    margin-right: 200px;
} 

.aside-class {
    width: '25%';
    padding-left: '25px';
    margin-left: '25px';
    float: 'right';
}

a {
    color: rgb(170, 63, 63);
}

